* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 50%;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#input-form {
  width: 100%;
  padding: 20px;
}

#input-form > h2 {
  font-size: 30px;
  margin-bottom: 20px;
  text-decoration: underline;
  font-weight: 500;
  text-align: center;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-group > label {
  font-size: 18px;
  padding-left: 3px;
  padding-bottom: 10px;
}

.form-group > input {
  width: 100%;
  padding: 12px 15px;
  border-radius: 6px;
  border: 3px solid #ccc;
  margin-bottom: 15px;
  font-size: 18px;
}

.form-group > input:focus {
  outline: none;
  border-color: seagreen;
}

.btn {
  width: 100%;
  padding: 15px 50px;
  margin: 10px 0px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  background-color: seagreen;
  color: #fff;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

.btn:active {
  scale: 0.95;
}

.bmi-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.display {
  width: 100%;
}

.display > p {
  font-size: 26px;
  text-align: center;
  padding-bottom: 20px;
}

.display > p > span {
  font-weight: bold;
}

.bmi-container > p {
  font-size: 18px;
  text-align: center;
}

@media (max-width: 1024px) {
  .container {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .container {
    width: 80%;
  }
}
@media (max-width: 480px) {
  .container {
    width: 90%;
    padding: 20px 5px;
  }

  #input-form > h2 {
    font-size: 24px;
  }

  .form-group > label {
    font-size: 16px;
  }

  .form-group > input {
    font-size: 16px;
  }

  .btn {
    font-size: 16px;
  }

  .display > p {
    font-size: 22px;
  }

  .bmi-container {
    font-size: 16px;
  }
}
