* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  background-color: #f0f0f0;
}

.container {
  width: 100%;
  max-width: 50rem;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 2px solid #000000ea;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.container > h2 {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  margin: 20px 5px;
  text-decoration: underline;
}

.quote-div {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-div .quote {
  font-size: 20px;
  text-align: center;
  color: orangered;
}

.author-div {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.author {
  font-size: 18px;
  font-style: italic;
  color: seagreen;
}

.btn-div {
  width: 100%;
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  background-color: #000000ea;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn:active {
  scale: 0.9;
}

@media only screen and (max-width: 850px) {
  .container {
    width: 90%;
  }
}

@media only screen and (max-width: 768px) {
  .container > h2 {
    font-size: 26px;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    padding: 15px;
  }

  .container > h2 {
    font-size: 24px;
  }

  .quote-div {
    padding: 5px 10px;
  }

  .quote-div .quote {
    font-size: 18px;
  }

  .author-div {
    padding: 5px 10px;
  }

  .author {
    font-size: 16px;
  }

  .btn {
    padding: 12px 15px;
    font-size: 16px;
  }
}
