* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

.calculator {
  background-color: #222222;
  width: 100%;
  max-width: 25rem;
  margin: 30px auto;
  padding: 20px;
  border-radius: 10px;
}

.display {
  width: 100%;
  height: 5rem;
  background-color: #111111;
  color: #02ff00;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 10px;
  font-size: 30px;
  border-radius: 10px;
}

.buttonsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 20px 0;
  user-select: none;
}

.buttonsContainer button {
  width: 100%;
  border-radius: 10px;
  background-color: #333333;
  color: #fff;
  border: none;
  font-size: 20px;
  font-weight: bold;
  padding: 25px 0;
  transition: all linear 0.2s;
}

.buttonsContainer button:hover {
  background-color: #4a4a4a;
  scale: 0.98;
  cursor: pointer;
}

.buttonsContainer button:active {
  scale: 0.9;
}

.buttonsContainer .clearBtn {
  background-color: #dc3545;
  grid-column: span 3;
  transition: all linear 0.2s;
}

.buttonsContainer .clearBtn:hover {
  background-color: #ea4f5f;
  scale: 0.98;
  cursor: pointer;
}

.buttonsContainer .clearBtn:active {
  scale: 0.9;
}

.buttonsContainer .operator {
  background-color: #ff9500;
  transition: all linear 0.2s;
}

.buttonsContainer .operator:hover {
  background-color: #fbac3c;
  scale: 0.98;
  cursor: pointer;
}

.buttonsContainer .operator:active {
  scale: 0.9;
}

.buttonsContainer .equalTo {
  grid-column: span 2;
  background-color: #1e90ff;
  transition: all linear 0.2s;
}

.buttonsContainer .equalTo:hover {
  background-color: #5cabfa;
  scale: 0.98;
  cursor: pointer;
}

.buttonsContainer .equalTo:active {
  scale: 0.9;
}

@media only screen and (max-width: 480px) {
  .calculator {
    width: 85%;
  }
  .display {
    height: 4rem;
    padding: 0 8px;
    font-size: 26px;
  }
  .buttonsContainer {
    gap: 0.7rem;
    padding: 15px 0;
  }
  .buttonsContainer button {
    padding: 20px 0;
    font-size: 18px;
  }
}
