* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: monospace;
}

.slider {
  width: 1300px;
  max-width: 100vw;
  height: 680px;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.list {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  width: max-content;
  transition: all ease 1s;
}

.list img {
  width: 1300px;
  max-width: 100vw;
  height: 100%;
  object-fit: cover;
}

.buttons {
  position: absolute;
  top: 45%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.buttons button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(191, 191, 191, 0.832);
  color: #000;
  border: none;
  font-family: monospace;
  font-weight: bold;
  cursor: pointer;
}

.dots {
  position: absolute;
  bottom: 10px;
  color: #fff;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.dots li {
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #fff;
  margin: 20px;
  border-radius: 20px;
  transition: width 0.3s ease;
  cursor: pointer;
}

.dots li.active {
  width: 30px;
}

@media (max-width: 768px) {
  .slider {
    height: 400px;
  }

  .buttons button {
    width: 40px;
    height: 40px;
  }

  .dots li {
    margin: 15px;
  }
}

@media (max-width: 480px) {
  .slider {
    height: 250px;
  }

  .buttons button {
    width: 30px;
    height: 30px;
  }

  .dots li {
    width: 5px;
    height: 5px;
    margin: 10px;
  }

  .dots li.active {
    width: 20px;
  }
}
