* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  background-color: #f0f0f0;
}

.todo-container {
  width: 100%;
  max-width: 35rem;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.heading {
  text-align: center;
  font-size: 30px;
  padding: 10px;
}

.display {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin: 20px 0px;
}

#todo-input {
  width: 100%;
  padding: 12px 10px;
  border: 2px solid #000;
  border-radius: 6px;
  font-size: 16px;
}

#todo-input::placeholder {
  color: #000;
}

.display .add-btn {
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  color: #fff;
  border: none;
  background-color: seagreen;
  transition: 0.3s;
}

.display .add-btn:hover {
  cursor: pointer;
  background-color: rgb(62, 168, 108);
}

.display .add-btn:active {
  scale: 0.9;
}

.todo-lists {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  margin-bottom: 10px;
}

.todo-lists .list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5px;
  background-color: #f0f0f0;
  border-radius: 8px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.todo-lists .list .task {
  font-size: 18px;
  margin-left: 10px;
}

.todo-lists .list .delete-btn {
  padding: 10px 15px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  background-color: lightcoral;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  transition: 0.3s;
}

.todo-lists .list .delete-btn:hover {
  cursor: pointer;
  background-color: rgb(247, 115, 115);
}

.todo-lists .list .delete-btn:active {
  scale: 0.9;
}

.empty-msg {
  font-size: 24px;
  font-weight: 500;
  padding: 20px;
}

@media only screen and (max-width: 700px) {
  .todo-container {
    width: 90%;
    max-width: 30rem;
  }

  .heading {
    font-size: 28px;
    padding: 5px 10px;
  }

  .empty-msg {
    font-size: 22px;
  }
}

@media only screen and (max-width: 480px) {
  .todo-container {
    width: 85%;
  }

  .heading {
    font-size: 26px;
  }

  .empty-msg {
    font-size: 20px;
  }

  #todo-input {
    padding: 8px 10px;
  }

  .display .add-btn {
    padding: 10px 12px;
    font-size: 14px;
  }

  .todo-lists {
    gap: 5px;
  }

  .todo-lists .list {
    padding: 8px 5px;
  }

  .todo-lists .list .task {
    font-size: 16px;
  }

  .todo-lists .list .delete-btn {
    padding: 8px 12px;
    font-size: 14px;
  }
}
