* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

.container {
  background-color: rgb(209, 204, 198);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.inputBtnContainer {
  margin: 10px 0;
  display: flex;
  gap: 1rem;
}

.heading {
  background-color: white;
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
  font-size: 35px;
}

button {
  background-color: lightseagreen;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 10px;
  transition: all linear 0.2s;
  cursor: pointer;
}

button:active {
  scale: 0.9;
}

#colorInput {
  padding: 12px 15px;
  border: none;
  font-size: 16px;
  border-radius: 5px;
}

#colorInput:focus {
  outline: none;
}

.currentColor {
  font-size: 18px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .inputBtnContainer {
    flex-direction: column;
    margin: 25px 0px;
  }

  #colorInput {
    order: 1;
    padding: 12px 10px;
  }

  .randomBtn {
    order: 2;
  }

  .applyBtn {
    order: 3;
  }

  .heading {
    font-size: 30px;
  }

  .currentColor {
    font-size: 16px;
  }
}
